<a href="https://colab.research.google.com/github/Maria-lin/How-to-make-notebook-in-dataiku/blob/main/untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SELECT
  CAST(SUBSTR(date_operation, 1, 2) AS INT) AS jour,
  CASE
    WHEN SUBSTR(num_carte, 1, 4) = '4970' THEN 'Visa Realys ou Classic 4970'
    WHEN SUBSTR(num_carte, 1, 4) = '4973' THEN 'Visa Premier 4973'
    WHEN SUBSTR(num_carte, 1, 4) = '4974' THEN 'Visa Infinite 4974'
    ELSE 'Non-Porteur'
  END AS type_porteur,
  SUM(CAST(montant_ope AS DOUBLE)) / 100 AS montant_total
FROM trepor_an0.t_dlk_mon_nf2_ope_retrait
WHERE
  CAST(SUBSTR(date_operation, 5, 4) AS INT) = 2025
  AND CAST(SUBSTR(date_operation, 3, 2) AS INT) = 12
GROUP BY
  CAST(SUBSTR(date_operation, 1, 2) AS INT),
  CASE
    WHEN SUBSTR(num_carte, 1, 4) = '4970' THEN 'Visa Realys ou Classic 4970'
    WHEN SUBSTR(num_carte, 1, 4) = '4973' THEN 'Visa Premier 4973'
    WHEN SUBSTR(num_carte, 1, 4) = '4974' THEN 'Visa Infinite 4974'
    ELSE 'Non-Porteur'
  END
ORDER BY
  jour,
  type_porteur;

In [2]:
nb_gab = df['NUM_AUTOMAT'].nunique()
nb_gab

gab_counts = df.groupby('NUM_AUTOMAT').size().reset_index(name='nb_lignes')
gab_counts.head()

NameError: name 'df' is not defined

In [3]:
import matplotlib.pyplot as plt

plt.figure()
plt.bar(['Nombre de GAB'], [nb_gab])
plt.title('Nombre total de GAB')
plt.ylabel('Compteur')
plt.show()

NameError: name 'nb_gab' is not defined

In [4]:
gab_par_ville = df.groupby('VILLE')['NUM_AUTOMAT'].nunique().sort_values(ascending=False)

plt.figure(figsize=(10,5))
gab_par_ville.plot(kind='bar')
plt.title('Nombre de GAB par ville')
plt.ylabel('Compteur')
plt.xlabel('Ville')
plt.tight_layout()
plt.show()

NameError: name 'df' is not defined